@model ProductModelView

@{
    ViewBag.Title = "Добавить продукт";
    Layout = "_Layout";
}
<h2 style="text-align: center">Добавить продукт</h2>

<div class="container-create-product">
    <div>
    <form asp-action="Create" asp-controller="Products" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Имя</label>
            <input type="text" class="form-control" asp-for="Product.Name">
            <span asp-validation-for="Product.Name"></span>
        </div>
        <div class="form-group">
            <label for="">Цена</label>
            <input type="text" class="form-control" asp-for="Product.Price">
            <span asp-validation-for="Product.Price"></span>
        </div>
        <div class="form-group">
            <label for="">Категория</label>
            <select asp-for="Product.CategoryId" id="" class="form-control">
                @foreach (Category category in ViewBag.Category)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Product.CategoryId"></span>
        </div>
        <div class="form-group">
            <label for="">Бренд</label>
            <select asp-for="Product.BrandId" id="" class="form-control">
                @foreach (Brand category in ViewBag.Brand)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="Product.BrandId"></span>
        </div>
        <div class="form-group">
            <label for="">Описание</label>
            <textarea type="text" class="form-control" asp-for="Product.Description"></textarea>
            <span asp-validation-for="Product.Description"></span>
        </div>
        <div class="form-group">
            <label for="">Загрузить файл</label>
            <input type="file" class="form-control-file" asp-for="FormFile">
        </div>
            <div style="text-align: end;">
            <button  class="btn btn-primary">Добавить</button>
            </div>
    </form>
</div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
